<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">gallery</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card div class="card">
      <img src="assets/gallery/1.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/2.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/3.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/4.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
      <ion-card div class="card">
      <img src="assets/gallery/5.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/6.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
      <ion-card div class="card">
      <img src="assets/gallery/7.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/8.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/9.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/10.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/11.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/12.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/13.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/14.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/15.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/16.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/17.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/18.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/19.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    <ion-card div class="card">
      <img src="assets/gallery/20.jpg" />
      <div class="card-title"></div>
      <div class="card-subtitle"></div>
    </ion-card>
    
</ion-content>
